<div style="position: absolute; bottom: 50px; right: 50px">
    <MudItem xs="12">
        @if (is3D)
        {
            <scramble-display visualization="3D" event="@CurrentEvent" scramble="@CurrentScramble"></scramble-display>
        }
        else
        {
            <scramble-display visualization="2D" event="@CurrentEvent" scramble="@CurrentScramble"></scramble-display>
        }
        <div style="text-align: right;">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@onButtonClicked">
                @buttoncLabel
            </MudButton>
        </div>
    </MudItem>
</div>