<div style="position: absolute; top: 20px; left: 50px; min-width: 300px;">

    <MudCard style="margin-bottom: 3vh">
        <MudCardContent>
            <MudTable Elevation="0" Items="@summaryTimes" Dense="true">
                <HeaderContent>
                    <MudTh>#</MudTh>
                    <MudTh>Current</MudTh>
                    <MudTh>Best</MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd>@item.Type.ToString()</MudTd>
                    <MudTd><b>@getFormatedTime(item.Current)</b></MudTd>
                    <MudTd><b>@getFormatedTime(item.Best)</b></MudTd>
                </RowTemplate>
            </MudTable>
            
            <div style="display: flex; justify-content: center; margin-top: 20px">
                <MudText><b>MEAN :</b></MudText>
                <MudText Style="margin-left: 5px" Color="Color.Primary"><b>@getFormatedTime(mean)</b></MudText>
            </div>
        </MudCardContent>
    </MudCard>

    <MudCard style="min-height: 60vh; max-height: 60vh" Class="d-flex flex-column">
        <MudCardContent Class="overflow-auto" Style="flex: 1;">

            <MudTable Dense="true" Elevation="0" Items="@currentTimes.OrderByDescending(t => t.SolveIndex)">
                <HeaderContent>
                    <MudTh>#</MudTh>
                    <MudTh>TIME</MudTh>
                    <MudTh>AO5</MudTh>
                    <MudTh>AO12</MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd>@item.SolveIndex</MudTd>
                    @if (item.SingleTime.BestTime)
                    {
                        <MudTd>
                            <MudText @onclick="() => onSingleClicked(item.SolveIndex)" Color="Color.Success" Class="cursor-pointer">
                                <b>@getFormatedTime(item.SingleTime.Time)</b>
                            </MudText>
                        </MudTd>
                    }
                    else
                    {
                        <MudTd>
                            <MudText @onclick="() => onSingleClicked(item.SolveIndex)" Color="Color.Default" Class="cursor-pointer">
                                @getFormatedTime(item.SingleTime.Time)
                            </MudText>
                        </MudTd>
                    }

                    @if (item.AverageOfFive.BestTime)
                    {
                        <MudTd>
                            <MudText Color="Color.Success">
                                <b>@getFormatedTime(item.AverageOfFive.Time)</b>
                            </MudText>
                        </MudTd>
                    }
                    else
                    {
                        <MudTd>
                            <MudText Color="Color.Default">
                                @getFormatedTime(item.AverageOfFive.Time)
                            </MudText>
                        </MudTd>
                    }

                    @if (item.AverageOfTwelve.BestTime)
                    {
                        <MudTd>
                            <MudText Color="Color.Success">
                                <b>@getFormatedTime(item.AverageOfTwelve.Time)</b>
                            </MudText>
                        </MudTd>
                    }
                    else
                    {
                        <MudTd>
                            <MudText Color="Color.Default">
                                @getFormatedTime(item.AverageOfTwelve.Time)
                            </MudText>
                        </MudTd>
                    }
                </RowTemplate>
            </MudTable>

        </MudCardContent>
    </MudCard>
</div>